.mainbox{
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F8F9FF;    
    height: 100%;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.title{
    color: #646683;
    font-size: 300%;
    font-weight: 900;
}

.task{
    display: flex;
}


.task button{
    margin: 20px;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    background-color: #6270EE;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

.addtask{
    margin: 20px;
    padding: 10px;
    width: 400px;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}
