.container{
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    background-color: #ECEDF6;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding: 1rem;
}


.todo{
    border-radius: 1rem;
    background-color: #ffffff;
    color: #585858;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid lightgrey;
    width: 80%;
    align-items: center;
    
}

.delete{
    cursor: pointer;
    color: white;
    background-color: red;
    margin-left: 10rem;
    border: none;
    border-radius: 1rem;
    width: 5rem;;
}